@import "mixins";
.role-name {
    /* width: -webkit-fill-available; */
    // width: 50%;
    // height: rem(40);
    display: flex;
    // padding-left: 30px;
    // margin: 0 auto;
    // margin-left: rem(270);
    font: normal normal normal rem(30)/rem(39) IBM Plex Sans;
    letter-spacing: rem(0);
    color: #000000;
    background: white;
    z-index: 5;
    position: relative;
    left: rem(-35);
    height: rem(75);
  }
  
  .role-name span {
    font: normal normal 600 rem(30)/rem(39) IBM Plex Sans;
    letter-spacing: rem(0);
    color: #000000;
  }

  .circle {
    left: rem(-14);
    background: #0f62fe 0% 0% no-repeat padding-box;
    border: rem(5) solid #0f62fe;
    border-radius: 50%;
    width: rem(16);
    height: rem(16);
    position: relative;
  }

.role-image {
    padding: rem(0) rem(40) 0 rem(10);
    position: relative;
  }

  .role-image div{
    width: rem(110) ;
    height: rem(250);
  }
.employee-details {
    // padding-top: rem(20);
    display: flex;
    flex-direction: row;
    // position: relative;
  }
  
  .employee-details div {
    /* flex: 50%; */
  }
  
  #content {
    // margin-left: rem(500);
  }
  
  #content p {
    font: normal normal bold rem(32)/rem(35) IBM Plex Sans;
    letter-spacing: rem(0);
    color: #0f62fe;
  }
  
  #content li:before {
    content: "- ";
    margin-left: rem(-20);
  }
  
  #content li {
    margin-left: rem(20);
    list-style: none;
  }
  
  .emp-points li {
    list-style: none;
    font: normal normal normal rem(25)/rem(35) IBM Plex Sans;
    letter-spacing: rem(0);
    color: #000000;
  }
  
  #content span {
    font: normal normal 600 rem(25)/rem(35) IBM Plex Sans;
    letter-spacing: rem(0);
    color: #000000;
  }

@media only screen and (min-device-width: rem(768)) and (max-device-width: rem(1024)){
    .role-name{
        font-size: rem(25);
    }
    .role-name span{
        font-size: rem(25);
    }
    .employee-details{
        padding-top: 0;
    }
    #content span{
        font-size: rem(20);
        line-height: rem(30);
    }
    #content p{
        font-size: rem(25);
    }
    .emp-points li{
        font-size: rem(20);
        line-height: rem(30);
    }
}