<div class="header">
    <p>#Key Personas</p>
  </div>

  <!-- Personas -->
<!-- 
  <app-personabox *ngFor = 'let data of personaData;let i as index' [role]='data.role'
  [left]='data.left'
  [description]='data.description'
  [roleImage]='data.roleImage'></app-personabox> -->

  <div class="container">

    <!-- image -->
    <!-- <div class="image"> -->
    <!-- <img src="assets/Rashi (1).svg" alt="rashi image"> -->
    <!-- </div> -->

    <!-- box- 1 -->
    <div class="box">
      <div class="image">
        <img src="assets/Rashi (1).svg" alt="team member image" />
      </div>
      <div class="content">
        <div class="heading">Team Member</div>
        <div class="items">
          <ul>
            <li>- Individual members across bands</li>
            <li>
              - Responsible for development, consulting, Testing, support and
              other deliverables
            </li>
            <li>
              - Developed deeper knowledge on specific system / process /
              module of client system
            </li>
            <li>
              - Key for completing deliverables on time and as planned or
              targeted
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- box-2 -->

    <div class="box">
      <div class="content">
        <div class="heading">Team Lead</div>
        <div class="items">
          <ul>
            <li>- Responsible for planning the deliverables and work allocation across team members</li>
            <li>
              - Key of interaction with relevant stakeholders to align work plan and prioritization
            </li>
            <li>
              - Track performance against targets and recommend remedial action for any delays or issues in quality
            </li>
            <li>
              - First level of escalation
            </li>
          </ul>
        </div>
      </div>
      <div class="image" style="left: -20px;">
          <img src="assets/teamlead.svg" alt="team lead image" />
        </div>
    </div>

    <!-- box-3 -->

    <div class="box">
      <div class="image">
        <img src="assets/ProjectManager (1).svg" alt="rashi image" />
      </div>
      <div class="content">
        <div class="heading">Project Manager</div>
        <div class="items">
          <ul>
            <li>- Individual members across bands</li>
            <li>
              - Responsible for development, consulting, Testing, support and
              other deliverables
            </li>
            <li>
              - Developed deeper knowledge on specific system / process /
              module of client system
            </li>
            <li>
              - Key for completing deliverables on time and as planned or
              targeted
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- box-4 -->
    <div class="box" style="margin-bottom: 30px;">
      <div class="content">
        <div class="heading">AE / SLDL</div>
        <div class="items">
          <ul>
            <li>- Individual members across bands</li>
            <li>
              - Responsible for development, consulting, Testing, support and
              other deliverables
            </li>
            <li>
              - Developed deeper knowledge on specific system / process /
              module of client system
            </li>
            <li>
              - Key for completing deliverables on time and as planned or
              targeted
            </li>
          </ul>
        </div>
      </div>
      <div class="image">
          <img src="assets/AE.svg" alt="rashi image" />
        </div>
    </div>
  </div>
