@import "mixins";
:host {
  display: block;
  height: fit-content;
}
.time-log {
  /* display: none; */
  /* position: absolute; */
  position: relative;
  /* top: rem(315); */
  z-index: 8;
  //  width: rem(284);
  // width: 15%;
  // height: rem(1900);
  /* margin-top: rem(315); */
  padding: 0 rem(24);
  background: #0f62fe 0% 0% no-repeat padding-box;
  border-top-right-radius: rem(22);
  border-bottom-right-radius: rem(22);
  opacity: 1;
}
.time h3 {
  font: normal normal bold rem(20)/rem(20) IBM Plex Sans;
}

.active,
.time {
  // margin-left: rem(26);
  /* margin-right: rem(26); */
  padding: rem(24) 0;
  border-bottom: rem(0.5) solid #ffffff;
  color: white;
  // margin-top: rem(25);
  transition: 1s;
  // padding-left: rem(10);
  /* border-radius: rem(16); */
  &:last-child {
    border: none;
  }
}

.time p {
  /* text-align: left; */
  font: normal normal normal rem(18)/rem(20) IBM Plex Sans;
  letter-spacing: rem(0);
}

.time a {
  color: white;
  text-decoration: none;
}

.active h3 {
  color: black;
  font: normal normal bold rem(20)/rem(20) IBM Plex Sans;
}
.active p {
  /* text-align: left; */
  color: black;
  font: normal normal normal rem(18)/rem(20) IBM Plex Sans;
  letter-spacing: rem(0);
}

.active a {
  color: black;
  text-decoration: none;
}

.active {
  background: white;
  border-top-left-radius: rem(16);
  border-bottom-left-radius: rem(16);
}


