<!-- header -->
<div class="header" style="background-image: url(assets/Background.png)">
  <div class="heading">
    Dynamic Delivery<br />
    <span class="subheading">CIC Playbook</span>
  </div>
</div>

<!-- Main- container -->
<div class="container">
  <!-- introduction -->
  <div class="introduction">
    <h1>Introduction</h1>
    <p>
      Introduction Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type
      and scrambled it to make a type specimen book. It has survived not only
      five centuries.
    </p>
  </div>

  <!-- Content - box -->

  <app-contentbox *ngFor = 'let data of personData' 
  [personImage]='data.personImage'
  [personName]="data.personName"
   [designation]="data.designation"
    [ibmLink]="data.ibmLink"></app-contentbox>
</div>
