@import "mixins";
.navigation {
    display: flex;
    height: rem(56);
    background: #ffffff;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    margin: 0 rem(28);
    font: rem(16)/rem(20) IBM Plex Sans;
    color: #000000;
  }
  a:hover {
    font: normal normal 600 rem(16)/rem(20) IBM Plex Sans;
  }
  .login {
    flex-grow: 1;
    text-align: end;
    margin: rem(16) rem(30);
  }
  
  .login a {
    margin: 0;
    text-decoration: none;
    font: rem(16)/rem(20) IBM Plex Sans;
    letter-spacing:rem (0);
    color: #000000;
  }
  .login a:hover {
    font: normal normal 600 rem(16)/rem(20) IBM Plex Sans;
  }

  footer {
    display: flex;
    align-items: center;
    height: rem(56);
    background: white;
    margin-top: rem(20);
    div {
      flex-grow: 1;
      text-align: right;
      a {
        margin: 0;
      }
    }
  }

  @media only screen and (max-width: 1366px){
    
  }