<!-- navigation - bar -->
<div class="navigation">
  <a routerLink="intro">Dynamic Delivery-CIC Playbook</a>
  <a routerLink="persona">Key Personas</a>
  <a routerLink="daylog">A day in life of</a>
  <a routerLink="enabler">Ready Reckoner-Enablers</a>
  <div class="login"><a href="">W3</a> &nbsp; <a href="">Sign In</a></div>
</div>
<router-outlet></router-outlet>
<!-- footer -->
<footer>
  <a href="/">Privacy Policy</a>
  <a href="/">Contact</a>
  <a href="/">Term of Use</a>
  <a href="/">Accessibility</a>
  <a href="/">Business Conduct Guidelines</a>
  <a href="/">Licenses</a>
  <div>Powered by <a href="/">w3 Publisher</a> from CIO</div>
</footer>
